.ui.button {
	margin-bottom: 5px;
	margin-top: 10px;
}


.ui.grid >.centered.column, .ui.centered.grid>.row, .ui.cards {
	margin-top: 20px;
}

.light-mode{
	background: hsl(0, 0%, 98%);
	color: hsl(200, 15%, 8%);
}

.dark-mode{
	background: hsl(207, 26%, 17%);
	color:hsl(0, 0%, 100%);
}

.dark-mode > .ui.container > .ui.centered.grid > .ui.cards > .card{
	background: hsl(207, 26%, 17%);
	color: hsl(0, 0%, 100%);
}

.dark-mode > .ui.container > .ui.centered.grid > .ui.cards > .card > .content > .header{
	color: hsl(0, 0%, 100%);
}

.dark-mode > .ui.container > .ui.centered.grid > .ui.cards > .card > .content > .description{
	color: hsl(0, 0%, 100%);
}

